@import url('fonts.css');

$backgr-color: #F8F8F8;

*, *::before, *::after{
        box-sizing: border-box;
  }

  body {
    font-family: "TTLakes normal";
    padding: 0;
    margin: 0;
    background-color: $back-color;
  }

.general-container{
    animation: appearance 0.5s;
}


  @media (min-width: 1120px) {
    body {
      margin: 0;
      display: flex;
    }
  }