
.swiper {
  margin-left: 16px;
  margin-top: 32px;
}

.all-card__link {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  width: 240px;
  height: 72px;
  border: 1px solid rgba(204, 204, 204, 0.514);
  border-radius: 5px;
  background-color: white;
}


.header-1{
  border-top: 1px #D9FFF5 solid; 
  margin-top: 20px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  padding: 10px;
  padding-left: 16px;
}

.header-1__h1-repair {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7E7E82;
  /* margin-left: 16px;
  margin-top: 16px; */
}

.button__show-all {
  background-color: #F8F8F8;
  border: none;
  line-height: 24px;
  margin-left: 40px;
  width: 100px;
}
.button__show-all::before {
  display: block;
  position: relative;
  top: 24px;
  left: -64px;
  content: "››";
  color: #41F6D7;
  transform: rotate(90deg);
}

.hide::before {
  display: block;
  position: relative;
  top: 24px;
  left: -44px;
  content: "››";
  color: #41F6D7;
  transform: rotate(270deg);
}

.repair-cards__container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  width: 240px;
  height: 160px;
  background-color: #FFFFFF;
}

.repair-cards__link {
  display: block;
  /* transform: translateX(20px) translateY(20px); */

}
.repair-cards__image-go {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 80px;
}

@media (min-width: 320px) and (max-width: 767px) {
  
  .empty, .empty-feedback, .empty-call {
    display: none;
  }
  
}

@media (min-width: 768px) and (max-width: 1119px) {
  .swiper {
    margin-top: 12px;
  }
   .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 215px;
  } 
  .swiper-slide {
    width: 20%;
    min-width: 245px;
    margin-top: 33px;
    height: auto;
  }

  .repair-cards .swiper-slide {
    min-width: 224px;
    margin-top: 33px;
    height: 160px; 
    margin-right: 24px;
  }

  .visible {
    height: auto;
    padding-bottom: 20px;
  }

  .all-card__link {
    width: 224px;
}

.price-services__h-repair-services,
.price-services__h-price,
.price-services__h-time {
  display: none;
}

.price-services {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  
}
.price-services__container {
  display: grid;
  grid-template-columns: 40% 20% 20% 10%; 
  width: auto;
  
  border-bottom: 1px #EAEAEA solid;
  margin: 16px;
}

.price-services__container:last-child {
  border: none;
}

.price-services__mobile-display-none {
  display: grid;
  grid-template-columns: 40% 20% auto;
  margin-left: 16px;
  padding: 16px;
  color: #7E7E82;
}

.swiper-wrapper.price-services {
  height: auto;
  width: auto;
  margin: 16px;
}

.empty, .empty-feedback, .empty-call {
  width: 100%;
  height: 250vh;
  background-color: #ffffff6c;
  position: absolute;
  z-index: -1;
}


}

@media (min-width: 1120px) {

  .repair-cards .swiper-slide {
    min-width: 224px;
    margin-top: 33px;
    height: 160px; 
    margin-right: 24px;
  }


  .swiper {
    margin-top: 12px;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 215px;
  }
  .swiper-slide {
    width: 20%;
    min-width: 245px;
    margin-top: 33px;
    margin-right: 25px;
    height: auto;
  }

  .visible {
    height: auto;
    padding-bottom: 20px;
  }

  .price-services__h-repair-services,
  .price-services__h-price,
  .price-services__h-time {
    display: none;
  }
  
  .price-services {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    
  }
  .price-services__container {
    display: grid;
    grid-template-columns: 40% 25% 25% 10%;
    width: auto;
    border-bottom: 1px #EAEAEA solid;
    margin: 16px;
  }
  
  .price-services__container:last-child {
    border: none;
  }
  .price-services__mobile-display-none {
    display: grid;
    grid-template-columns: 40% 25% 25% 10%;
    padding: 16px;
    color: #7E7E82;
  }
  
  .swiper-wrapper.price-services {
    height: auto;
    width: auto;
    margin: 16px;
  }


  .empty {
    display: none;
  }

  .empty-feedback, .empty-call {
    width: 100%;
    height: 250vh;
    background-color: #ffffff6c;
    position: absolute;
    z-index: -1;
  }
  
}