// @import url(fonts.css);

$mygray: #7E7E82;
$mygrblue: #41F6D7;
$mywhite: #F8F8F8;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /* font-family: "TTLakes"; */
  background-color: $mywhite;
  height: 400px;
}

.swiper {
  margin-left: 16px;
  margin-top: 32px;
}

.all-card{
    &__link{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        align-items: center;
        width: 240px;
        height: 72px;
        border: 1px solid rgba(204, 204, 204, 0.514);
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
    }
}

.header-1{
    &__h1-repair{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $mygray;  
    margin-left: 16px;
    margin-top: 16px;
    }
}

.button{
    &__show-all{
    background-color: $mywhite;
    border: none;
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    left: 40px;
    cursor: pointer;
    width: 100px;
        &::before{
            display: block;
            position: relative;
            top: 24px;
            left: -64px;
            content: "\203a \203a";
            color: $mygrblue;
            transform: rotate(90deg);
        }
    }
}

.hide{
    &::before{
        display: block;
        position: relative;
        top: 24px;
        left: -44px;
        content: "\203a \203a";
        color: $mygrblue;
        transform: rotate(270deg);
    }
  }
  
.repair {
    &-cards{
        &__container{
            border: 1px solid #EAEAEA;
            border-radius: 5px;
            width: 240px;
            height: 160px;
            background-color: #FFFFFF;
        }
        &__link{
            display: block;
            transform: translateX(20px) translateY(20px);
        }
        &__image-go{
            display: block;
            transform: translateX(250px) translateY(64px);
        }
    }
  }
  
  @media (min-width: 768px) and (max-width: 1119px) {
    .swiper{
      margin-top: 12px;
        &-wrapper{
            display: flex;
            flex-wrap: wrap;
            height: 200px;
        }
        &-slide{
            width: 20%;
            min-width: 245px;
            margin-top: 33px;
            height: 52px;
        }
    }
  
    .visible {
      height: auto;
      padding-bottom: 20px;
    }
  
  }
  
  @media (min-width: 1120px) {
    .swiper {
      margin-top: 12px;
      &--wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
      }
      &-slide {
        width: 20%;
        min-width: 245px;
        margin-top: 33px;
        margin-right: 25px;
        height: 52px;
      }
    }
  
    .visible {
      height: auto;
      padding-bottom: 20px;
    } 
  }
