

.big-container-feedback, .big-container-call {
    display: none;
}

@keyframes appearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.visible-feedback {
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: flex-end;
    height: 250vh;
    font-family: "TTLakes normal";
    animation: appearance 1s;
    position: absolute;
    z-index: 51;
}

.feedback, .call {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #41f6d836;
    padding-left: 30px;
    height: 855px;
    background-color: white;
    box-shadow: 16px 0px 52px 0px #0E185033;
   

}

.feedback__h1::before, .call__h1::before {
    display: flex;
    content: " ";
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 3px;
    margin-bottom: -38px;
    margin-left: -32px;
}

.feedback__h1, .call__h1 {
    font-family: "TTLakes bold";
    /* margin-top: -130px; */
}

.feedback__info, .call__info {
    display: block;
    width: 396px;
    
} 

.feedback__form, .call__form {
    display: flex;
    flex-direction: column;
}

.input-f {
    width: 376px;
    height: 48px;
    /* margin-left: 30px; */
    margin-right: 30px;
    margin-bottom: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding-left: 16px;
}

.feedback__input-message {
    min-height: 118px;
    max-width: 376px;
    padding-top: 16px;
    font-size: 16px;
}

.feedback__button-send, .call__button-send {
    background-image: url(../img/Send.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    width: 136px;
    height: 32px;
    border: none;
    margin-top: 23px;
}

.feedback__div, .call__div {
    display: flex;
    width: 396px;
    justify-content: flex-end;
}

.feedback__close-modal, .call__close-modal {
    background-image: url(../img/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    padding: 20px;
    margin: 20px;
    margin-left: -90px;
    position: absolute;
}

.feedback__close-modal:hover, .call__close-modal:hover {
    cursor: pointer;
}

.feedback__close-modal {
    right: 440px;
}

.feedback__personal-data, .feedback__privacy-policy, .call__personal-data, .call__privacy-policy {
    text-decoration: none;
    color:  #ff3e79;
}


@media (min-width: 320px) and (max-width: 767px) {

    .visible-feedback {
        height: 100%;
    }

    .feedback, .call {
        width: 100%;
    }

    .input-f, .call__info, .call__div, .feedback__info, .feedback__div {
        width: auto;
    }


    .call__close-modal  {
        margin-left: -10px;
    }

    .feedback__close-modal {
        right: 235px;
    }



    .feedback__h1, .call__h1 {

        margin-top: 75px;
    }

    .big-container-feedback, .big-container-call {
        display: none;
    }
    

}
